body {
    margin: 50px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

td:hover {
    background: orange;
}

table {
    border: 4px solid red;
}